body {
	text-align: center;
	font-family: 'Arial', sans-serif;
  }
  
  .menu-superior {
	display: flex;
	justify-content: center;
	background-color: #333;
	padding: 10px 0;
  }
  
  .menu-superior a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	padding: 5px 10px;
	background-color: #007BFF;
	border-radius: 5px;
	transition: background-color 0.3s;
  }
  
  .menu-superior a:hover {
	background-color: #0056b3;
  }
  
  canvas {
	margin-top: 20px;
	border: 1px solid #000;
  }
  
  input[type="button"] {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  
  input[type="button"]:hover {
	background-color: #45a049;
  }
  
  #lienzo {
	display: block;
	margin: 0 auto;
  }
  
  /* Añade estilos responsivos para dispositivos móviles */
  @media screen and (max-width: 600px) {
	.menu-superior {
	  flex-direction: column;
	}
  
	.menu-superior a {
	  margin-bottom: 10px;
	}
  }
  
  body {
	background-image: url('fondoEstre.jpg');
	background-size: cover; /* Asegúrate de que la imagen cubra toda la página */
	background-position: center; /* Centra la imagen en la página */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
  }

  .contenedor {
	background-color: rgba(255, 255, 255, 0.5); /* Blanco semi transparente */
	padding: 20px;
	border-radius: 10px;
  }

  #esTurno{
	
    background: black;
    max-width: 10vw;
    /* margin: auto; */
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 1px 1px white;

  }




